* {
  margin: 0;
  padding: 0;
  outline: 0;
}

section{
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);;
  background-size: 400% 400%;
  /* position: center; */
  animation: animate 7.5s ease-in-out infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

h1, .submit{
  background: rgba(255,255,255,.2);
  padding: 20px;
  border-radius: 10px;
}

h1{
  font-size: 30px;
}

@keyframes animate{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

input{
  font-size: 20px;
  height: 40px;
  width: 250px;
  margin: 2px;
}

.submit{
  border-color: transparent;
  color: #fff;
  font-size: 20px;
}

.logo{
  padding: 20px;
}
