*{
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;
}

.sidebar{
    position: fixed;
    height: 100vh;
    width: 300px;
    background-color: #DEBACE;
}

.home{
    position: absolute;
    height: 100%;
    width: calc(100% - 300px);
    top: 0px;
    left: 300px;
    background-color: antiquewhite;
}

.logo_img img{
    padding: 10px 0 0 10px;
    width: 280px;
    height: 60px;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.profile-pic{
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    border: 2px solid #e2336b;
    border-radius: 50%;
}

.profile-pic img{
    border-radius: 50%;
    object-fit: cover;
    height: 150px;
    width: 150px;
}

.name{
    display: flex;
    align-items: center;
    margin: 10px;
}

.options a{
    display: flex;
    align-items: center;
    line-height: 50px;
    text-decoration: none;
    margin: 15px 0 0 15px;
    font-size: 25px;
    width: 100%;
}

.options .icon{
    margin-right: 20px;
}

#feed-icon, #settings-icon:hover, #profile-icon:hover{
    color: #e2336b;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.search{
    display:flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    height: 10px;
    width: 200px;
}

.search input{
    margin-left: 10px;
    border: none;
    outline: none;
    background: transparent;
}

.header-options{
    display: flex;
    align-items: center;
}

.header-options .add{
    display: flex;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    padding: 5px;
}

.all-posts{
    padding: 20px;
}

.post{
    width: 300px;
}

.post img{
    object-fit: cover;
    height: 350px;
    width: 100%;
}

.post-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.prof-pic{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #e2336b;
    border-radius: 50%;
    margin-right: 5px;
    height: 35px;
    width: 35px;
}

.prof-pic img{
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.post-profile{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.post-profile h3{
    margin-left: 5px;
}
