*{
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;
}

.sidebar{
    position: fixed;
    height: 100vh;
    width: 300px;
    background-color: #DEBACE;
}

.home{
    position: absolute;
    height: 100%;
    width: calc(100% - 300px);
    top: 0px;
    left: 300px;
    background-color: antiquewhite;
}

.logo_img img{
    padding: 10px 0 0 10px;
    width: 280px;
    height: 60px;
}

