*{
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;
}

.sidebar{
    position: fixed;
    height: 100vh;
    width: 300px;
    background-color: #DEBACE;
}

.home{
    position: absolute;
    height: 100%;
    width: calc(100% - 300px);
    top: 0px;
    left: 300px;
    background-color: antiquewhite;
}

.logo_img img{
    padding: 10px 0 0 10px;
    width: 280px;
    height: 60px;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.profile-pic{
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    border: 2px solid #e2336b;
    border-radius: 50%;
}

.profile-pic img{
    border-radius: 50%;
    object-fit: cover;
    height: 150px;
    width: 150px;
}

.name{
    display: flex;
    align-items: center;
    margin: 10px;
}

.options a{
    display: flex;
    align-items: center;
    line-height: 50px;
    text-decoration: none;
    margin: 15px 0 0 15px;
    font-size: 25px;
    width: 100%;
}

.options .icon{
    margin-right: 20px;
}

#profile-icon, #feed-icon:hover, #settings-icon:hover{
    color: #e2336b;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}
